<!DOCTYPE html>
<html>

<head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Share - Slam Book</title>
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="{% static 'assets/fonts/simple-line-icons.min.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    <link rel="stylesheet" href="{% static 'assets/css/smoothproducts.css' %}">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
        <div class="container"><a class="navbar-brand logo" href="#">Slam Book</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse"
                id="navcol-1">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="index.html">Home</a></li>

                    <li class="nav-item" role="presentation"><a class="nav-link" href="about-us.html">About Us</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="contact-us.html">Contact Us</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="login.html">Login</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="registration.html">Register</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <main class="page">
        <section class="clean-block features">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">Thank You {{ name }}</h2>
                    <p>Would u like to make your own Slam Book and Add Pages Having same questions written by your friend! , Give it a try as there is nothing to lose in it and even its free.</p>
                </div>
                {% for message in messages %}
  <div class="alert alert-{{ message.tags }} mb-0 alert-dismissible fade show" role="alert">
    <strong>Message: </strong> {{ message }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  {% endfor %}
                <div class="row justify-content-center">
                   <div class="col-md-5 feature-box"><i class="icon-star icon"></i>
                         <a style="color: black;" href="registration.html" ><h4>Step - 1 (Register)</h4>
                        <p>Register A Slam Book In your name, Registration Link can be accessed from the navigation bar </p></a>
                    </div>
                    <div class="col-md-5 feature-box"><i class="icon-pencil icon"></i>
                        <a style="color: black;" href="login.html" ><h4>Step - 2 (Login)</h4>
                        <p>Simply Login with your credentials In The Login Page</p></a>
                    </div>
                    <div class="col-md-5 feature-box"><i class="icon-screen-smartphone icon"></i>
                        <a style="color: black;" href="login.html" ><h4>Step - 3 (Ready To Rock)</h4>
                        <p>Click On The Add Friends and Share the Link Generated In Your respective Social media Platforms</p></a>
                    </div>
                    <div class="col-md-5 feature-box"><i class="icon-refresh icon"></i>
                        <a style="color: black;" href="contact-us.html" ><h4>*Step - 4 (Optional)</h4>
                        <p>In case you want to suggest us some improvements or report errors or want to Contribute by adding features, Your most Welcome , You can Contact Us from the Contact Us link In the Navigation Bar </p></a>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer class="page-footer dark">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <h5>Get started</h5>
                    <ul>
                        <li><a href="/index.html">Home</a></li>
                        <li><a href="/registration.html">Sign up</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5>About us</h5>
                    <ul>
                        <li><a href="about-us.html">Company Information</a></li>
                        <li><a href="contact-us.html">Contact us</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5>Support</h5>
                    <ul>
                        <li><a href="contact-us.html">Help desk</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <p>© 2020 Copyright Slam Book</p>
        </div>
    </footer>
        <script src="{% static 'assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script src="{% static 'assets/js/smoothproducts.min.js' %}"></script>
    <script src="{% static 'assets/js/theme.js' %}"></script>
</body>

</html>